.our-store-card{
    display: flex;
    justify-content: center;
    align-items: center;

    &-title{
        display: flex;
        flex-direction: column;
        line-height: 20px;

        &-line1{
            color: $color3;
            font-family: $Allura;
            font-size: 1.9rem;
        }
        &-line2{
            text-transform: uppercase;
            font-family: $Poppins;
            font-weight: bold;
            font-size: 1.1rem;
        }
    }

    & .our-store-card-container{
        height: 92%;
        width: 95%;
        border: 1px dashed $color3;
        display: grid;
        justify-items: center;
        text-align: center;
        align-content: space-evenly;
        
        & .our-store-card-bottom{

            & img{
                object-fit: cover;
                width: 75px;
                border-radius: 50%;
                object-fit: cover;
            }

            &-text{

                line-height: 2px;

                & h3{
                    font-family: $Poppins;
                    font-weight: 500;
                    font-size: 1rem;
                }
                & h4{
                    text-transform: uppercase;
                    font-family: $Roboto;
                    font-size: 0.7rem;
                    color: rgb(198, 197, 197);
                }
            }
        }

        & p{
            font-family: $Roboto;
        }
    }
}

// Discover cards 

.discover-container-menu-card{
    border-bottom: 1px dashed rgb(198, 197, 197);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & img{
        object-fit: cover;
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }

    & .dish-text{
        flex-wrap: wrap;
        width: 55%;
        font-family: $Roboto;

        & h4{
            text-transform: uppercase;
            font-size: 0.7rem;
        }
        & p {
            font-size: 0.9rem;
        }
    }

    & span{
        color: $color3;
        font-family: $Roboto;
        font-weight: bold;
    }
}

// Booking cards

// LEFT PART

.booking-card-left{
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px dashed #acabab;
    text-align: center;

    & h3{
        color: $color3;
    }
    & span{
        color: white;
    }

    &-title{

        line-height: 30px;
        margin-top: 15px;

        & h3{
            font-size: 3rem;
            font-family: $Allura;
            font-weight: 500;
            margin: 0;
            padding: 0;
        }
        & span{
            font-size: 1.5rem;
            font-family: $Poppins;
            font-weight: bold;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
    }

    &-date1 , &-date2 {

        & h3{
            text-transform: uppercase;
            font-family: $Poppins;
            font-weight: 500;
        }

        &-text{
            font-family: $Roboto;
        }
    }

    & img{
        width: fit-content;
    }

    &-phone{
        font-family: $Poppins;
        font-weight: 500;
        font-size: 1.3rem;
    }
}

// RIGHT PART 

.booking-container-content-right-top{

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25%;

    & img{
        width: fit-content;
    }

    &-title{
        line-height: 35px;

        & h3{
            color: $color3;
            font-family: $Allura;
            font-size: 3.3rem;
            font-weight: 500;
            margin: 0;
            padding: 0;
        }
        & span{
            text-transform: uppercase;
            font-family: $Poppins;
            font-size: 2rem;
            font-weight: bold;
        }

    }

    
}

// EVENTS PART

.event-card-left{
    display: flex;

    &-side-left{
        width: 40%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        & img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        &-date{
            width: 95px;
            height: 95px;
            background-color: $background-color1;
            position: absolute;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            & span{
                color: white;
                font-family: $Roboto;

                &:first-child{
                    font-size: 2rem;
                    font-weight: bold;
                }
                &:last-child{
                    font-size: 1.2rem;
                }
                
            }
            
        }
    }
    &-side-right{
        width: 60%;
        background-color: #f2f2f2;
        display: grid;
        grid-template-columns: 30px 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        & h3, p, span{
            grid-column-start: 2;
            font-family: $Roboto;
            letter-spacing: 2px;
        }

        & h3{
            font-size: 1.5rem;
            
            font-weight: 500;
            color: $background-color1;
        }
        & p{
            color:#acabab;
        }
        & span{
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: bold;
        }
    }
}

.events-card-right{
    background-color: #f2f2f2;
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-direction: column;
    align-items: center;

    &-date{
            width: 95px;
            height: 95px;
            background-color: $background-color1;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            & span{
                color: white;
                font-family: $Roboto;

                &:first-child{
                    font-size: 2rem;
                    font-weight: bold;
                }
                &:last-child{
                    font-size: 1.2rem;
                }
                
            }
    }   
    &-infos{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;

        & h3, p, span{
            grid-column-start: 2;
            font-family: $Roboto;
            letter-spacing: 2px;
        }

        & h3{
            font-size: 1.5rem;
            
            font-weight: 500;
            color: $background-color1;
        }
        & p{
            color:#acabab;
            margin-top: -45px;
        }
        & span{
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: bold;
        }
    }    

}

.main-content-bottom-motto-card{

    background-color: #f2f2f2;
    width: 70%;
    height: 40%;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;

    & > *{
        width: 80%;
    }

    & img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }
}