.our-store-card{
    display: flex;
    justify-content: center;
    align-items: center;

    &-title{
        display: flex;
        flex-direction: column;
        line-height: 20px;

        &-line1{
            color: $color3;
            font-family: $Allura;
            font-size: 1.9rem;
        }
        &-line2{
            text-transform: uppercase;
            font-family: $Poppins;
            font-weight: bold;
            font-size: 1.1rem;
        }
    }

    & .our-store-card-container{
        height: 92%;
        width: 95%;
        border: 1px dashed $color3;
        display: grid;
        justify-items: center;
        text-align: center;
        align-content: space-evenly;
        
        & .our-store-card-bottom{

            & img{
                object-fit: cover;
                width: 75px;
                border-radius: 50%;
                object-fit: cover;
            }

            &-text{

                line-height: 2px;

                & h3{
                    font-family: $Poppins;
                    font-weight: 500;
                    font-size: 1rem;
                }
                & h4{
                    text-transform: uppercase;
                    font-family: $Roboto;
                    font-size: 0.7rem;
                    color: rgb(198, 197, 197);
                }
            }
        }

        & p{
            font-family: $Roboto;
        }
    }
}

// Discover cards 

.discover-container-menu-card{
    border-bottom: 1px dashed rgb(198, 197, 197);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & img{
        object-fit: cover;
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }

    & .dish-text{
        flex-wrap: wrap;
        width: 55%;
        font-family: $Roboto;

        & h4{
            text-transform: uppercase;
            font-size: 0.7rem;
        }
        & p {
            font-size: 0.9rem;
        }
    }

    & span{
        color: $color3;
        font-family: $Roboto;
        font-weight: bold;
    }
}

// Booking cards

.booking-card-left{
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px dashed #acabab;
    text-align: center;

    & h3{
        color: $color3;
    }
    & span{
        color: white;
    }

    &-title{

        line-height: 30px;
        margin-top: 15px;

        & h3{
            font-size: 3rem;
            font-family: $Allura;
            font-weight: 500;
            margin: 0;
            padding: 0;
        }
        & span{
            font-size: 1.5rem;
            font-family: $Poppins;
            font-weight: bold;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
    }

    &-date1 , &-date2 {

        & h3{
            text-transform: uppercase;
            font-family: $Poppins;
            font-weight: 500;
        }

        &-text{
            font-family: $Roboto;
        }
    }

    & img{
        width: fit-content;
    }

    &-phone{
        font-family: $Poppins;
        font-weight: 500;
        font-size: 1.3rem;
    }
}