.discover-preview-container{
    height: 55vh;
    display: flex;
    @media screen and(max-width:700px){
        height: 75vh;
    }

    & .our-store-card, .our-store-side-img{
        width: 50%;
    }

    & .our-store-side-img{
        @media screen and(max-width:700px){
            display: none;
        }
    }

    & .our-store-card{
        background-color: #f2f2f2;
        @media screen and(max-width:700px){
            width: 100%;
        }
    }

    & .our-store-side-img img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

// Discover main

.discover-container{
    height: 125vh;
    background-color: $background-color1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @media screen and(max-width: 780px){
        height: auto;
        min-height: 175vh;
    }

    &-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 35vh;
        width: 55vw;
        justify-content: space-evenly;
        @media screen and(max-width: 780px){
            width: 80vw;
        }

        & h3{
            color: $color3;
            font-family: $Allura;
            font-size: 2rem;
            font-weight: 500;
        }

        & img{
            width: fit-content;
        }

        & ul{
            display: flex;
            justify-content: space-around;
            width: 100%;
            @media screen and(max-width: 620px){
                font-size: smaller;
                height: 3vh;
            }

            & li{
                color: white;
                font-family: $Roboto;

                @media screen and(max-width: 780px){
                    border-bottom: 3px solid grey;
                }

            }
        }
    }

    &-menu{
        height: 75vh;
        width: 60vw;
        background-color: #f2f2f2;
        border-top: 4px solid $color3;
        z-index: 2;
        display: grid;
        justify-items: center;
        @media screen and(max-width: 780px){
            height: auto;
            width: 80vw;
        }
        

        &-cards-container{
            display: grid;
            grid-template-rows:25% 25% 25% 25%;
            grid-template-columns: 1fr 1fr;
            width: 96%;
            height: 98%;

            @media screen and(max-width: 780px){
                grid-template-columns: 1fr;
                grid-template-rows: auto;
            }
        }
    }

    &-img{
        width: 100%;
        height: 75vh;
        z-index: 1;
        position: absolute;
        bottom: 0;

        & img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    
}

// Booking Area

.booking-container{
    height: 100vh;
    background-color: $background-color1;
    display: flex;
    justify-content: center;
    align-items: center;

    &-content{
        width: 75%;
        height: 80%;
        display: flex;

        &-left{
            width: 32%;
            height: 100%;
            background: black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-right{
            width: 68%;
            height: 100%;
            background: #f2f2f2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
        }
    }
}

// EVENTS 

.events-container{
    height: 100vh;
    background: $background-color1;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    &-top{

        text-align: center;

        &-title{

            line-height: 45px;
            margin-top: 15px;

            & h3{
                font-size: 3rem;
                font-family: $Allura;
                font-weight: 500;
                margin: 0;
                padding: 0;
                color: $color3;
            }
            & span{
                font-size: 2.5rem;
                font-family: $Poppins;
                font-weight: bold;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: white;
            }
        }
    }

    &-cards-container{
        width: 90%;
        display: flex;
        height: 80vh;

        &-left{
            width: 55%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            & article{
                height: 40%;
                width: 95%;
            }
        }

        &-right{
            height: 90%;
            width: 45%;
            display: flex;
            align-items: center;

            & article{
                height: 83.2%;
                width: 90%;
                background-image: url('../../assets/img/event-03.jpg');
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

// BOTTOM CONTENT (motto from CEO)

.main-content-bottom{
    height: 100vh;
    background-color: $background-color1;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    &-img-container{
        height: 45%;
        width: 100%;
        position: absolute;
        bottom: 0;
        & img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

