.discover-preview-container{
    height: 55vh;
    display: flex;

    & .our-store-card, .our-store-side-img{
        width: 50%;
    }

    & .our-store-card{
        background-color: #f2f2f2;
    }

    & .our-store-side-img img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}