header{

    & .header-container{
        height: 100vh;
        background-image: url('../../assets/img/bg-slider-06.jpg');
        background-size: cover;
        background-position: center;

        & nav {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 10vh;
            @media screen and(max-width: 780px){
                justify-content: space-around;
            }

            & span{
                color: white;
                font-family: $Allura;
                font-size: 2.5rem;
                font-weight: bold;
            }

            & ul{

                display: flex;
                width: 50%;
                justify-content: space-between;
                @media screen and(max-width: 780px){
                    display: none;
                }
        
                & li{
                    color: rgba(255, 255, 255, 0.896);
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    opacity: 0.9;
                    font-family: $Roboto;
                }
            }

            & .icons-container{
                display: flex;
                width: 85px;
                justify-content: space-between;

                & i{
                    color: white;
                    font-size: 1.2rem;
                }
            }
        }
    
    }

    & .header-middle-container{

        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
        height: 75vh;
        align-content: center;
        text-align: center;

        & .header-middle-title{
            @include flexColumnAlignCenter;
            line-height: 40px;

            & .title-line1{
                font-family: $Allura;
                color: $color3;
                font-size: 3.5rem;
            }
            & .title-line2{
                font-size: 3rem;
                font-family: $Poppins;
                font-weight: bold;
                color: white;
            }
        }

        & p, .title-line2{
            text-transform: uppercase;
            letter-spacing: 8px;
        }

        & p{
            color: rgba(255, 255, 255, 0.896);
            font-family: $Roboto;
            font-size: 0.8rem;
           
        }

        & img{
            filter: contrast(8);
            padding-bottom: 1.5rem;
            padding-top: 4rem;
        }
        
    }
    
}