html, body, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../../assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url("../../assets/fonts/FontsFree-Net-Poppins-Medium.ttf");
}

@font-face {
  font-family: 'Allura-Regular';
  src: url("../../assets/fonts/Allura-Regular.ttf");
}

header .header-container {
  height: 100vh;
  background-image: url("../../assets/img/bg-slider-06.jpg");
  background-size: cover;
  background-position: center;
}

header .header-container nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
}

header .header-container nav span {
  color: white;
  font-family: "Allura-Regular", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

header .header-container nav ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

header .header-container nav ul li {
  color: rgba(255, 255, 255, 0.896);
  text-transform: uppercase;
  font-size: 0.8rem;
  opacity: 0.9;
  font-family: "Roboto-Light", sans-serif;
}

header .header-container nav .icons-container {
  display: flex;
  width: 10%;
  justify-content: space-between;
}

header .header-container nav .icons-container i {
  color: white;
  font-size: 1.2rem;
}

header .header-middle-container {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 75vh;
  align-content: center;
}

header .header-middle-container .header-middle-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 40px;
}

header .header-middle-container .header-middle-title .title-line1 {
  font-family: "Allura-Regular", sans-serif;
  color: #99723c;
  font-size: 3.5rem;
}

header .header-middle-container .header-middle-title .title-line2 {
  font-size: 3rem;
  font-family: "Poppins-Medium", sans-serif;
  font-weight: bold;
  color: white;
}

header .header-middle-container p, header .header-middle-container .title-line2 {
  text-transform: uppercase;
  letter-spacing: 8px;
}

header .header-middle-container p {
  color: rgba(255, 255, 255, 0.896);
  font-family: "Roboto-Light", sans-serif;
  font-size: 0.8rem;
}

header .header-middle-container img {
  filter: contrast(8);
  padding-bottom: 1.5rem;
  padding-top: 4rem;
}

.discover-preview-container {
  height: 55vh;
  display: flex;
}

.discover-preview-container .our-store-card, .discover-preview-container .our-store-side-img {
  width: 50%;
}

.discover-preview-container .our-store-card {
  background-color: #f2f2f2;
}

.discover-preview-container .our-store-side-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.our-store-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-store-card .our-store-card-container {
  height: 91%;
  width: 95%;
  border: 1px dashed #99723c;
}

.our-store-card .our-store-card-container .our-store-card-bottom img {
  object-fit: cover;
  width: 75px;
  border-radius: 50%;
  object-fit: cover;
}
/*# sourceMappingURL=index.css.map */